<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/default.css}" rel="stylesheet"/>-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>Hello</title>
</head>

<body>
<div class="contentDiv">

<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>

<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">注销</button>
</form>

</div>
</body>

</html>