<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/default.css}" rel="stylesheet"/>-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>

<body>

<div class="contentDiv">

<h3>Welcome!</h3>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

</div>
</body>

</html>