<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{css/default.css}" rel="stylesheet"/>-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>用户登录</title>
</head>
<body>
<div class="contentDiv">

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label> User Name: <input type="text" name="username"/></label></div>
        <div><label> Password: <input type="password" name="password"/></label></div>
        <div>
            <button type="submit" class="btn btn-primary">登录</button>
            <a class="btn btn-default" href="/home" role="button">返回</a>
            <a class="btn btn-success" href="/v1/users/create" role="button">注册</a>
        </div>
    </form>
    <br/>

</div>
</body>
</html>