<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/default.css}" rel="stylesheet"/>-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>其他功能列表</title>
</head>
<body>

<br/>
<br/>
<div class="col-sm-offset-2 col-sm-10">
    <a class="btn btn-warning" href="/v1/books/functions" role="button">其他功能</a>
    <input class="btn btn-default" type="button" value="返回" onclick="history.back()"/>
</div>

<br/>

<div class="col-sm-offset-2 col-sm-10">
</div>

</body>
</html>